<!DOCTYPE html>
<html>
  <head>
    <title>Z-Hop | 3D Printing News, Tips, Printable Models and Chicago Area Events</title>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width,initial-scale=1">
     <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <link rel="stylesheet" href="style.css">
  </head>
  <body>
  <header>
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Z-Hop | 3D Printing News, Tips, Printable Models and Chicago Area Events</a>
        </div>
      </nav>
    </header>
    
    <main class="container">
          <%= yield %>
    </main>
 
  <footer class="page-footer">
  </footer>
  </body>
</html>
